@tailwind base;
@tailwind components;
@tailwind utilities;

article[typeof="schema:Article"]{
    @apply text-justify;
}

article[typeof="schema:Article"] h1{
    @apply text-4xl font-bold;
}

article[typeof="schema:Article"] h2{
    @apply text-3xl font-bold;
}

article[typeof="schema:Article"] h3{
    @apply text-2xl font-bold;
}

article[typeof="schema:Article"] h4{
    @apply text-xl font-semibold;
}

article[typeof="schema:Article"] h5{
    @apply text-sm font-bold;
}

article[typeof="schema:Article"] h6{
    @apply text-xs font-bold;
}

article[typeof="schema:WebPage"]{
    @apply text-justify;
}

article[typeof="schema:WebPage"] h1{
    @apply text-4xl font-bold;
}

article[typeof="schema:WebPage"] h2{
    @apply text-3xl font-bold;
}

article[typeof="schema:WebPage"] h3{
    @apply text-2xl font-bold;
}

article[typeof="schema:WebPage"] h4{
    @apply text-xl font-semibold;
}

article[typeof="schema:WebPage"] h5{
    @apply text-sm font-bold;
}

article[typeof="schema:WebPage"] h6{
    @apply text-xs font-bold;
}

/* Largeur scroll-bar */
::-webkit-scrollbar {
    width: 0.7rem;
}

/* Arrière-plan scroll-bar */
::-webkit-scrollbar-track {
    background-color: lightgray;
    @apply shadow-lg;
}

/* the draggable scrolling handle. */
::-webkit-scrollbar-thumb {;
    @apply rounded-md bg-blue-300;
    transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-400;
    transition: 0.3s;
}

main a{
    @apply text-blue-500;
}

main a:hover{
    /*@apply text-blue-700;*/
}

nav .collant {
    @apply py-2 transition;
    transition: 0.5s;
}

.current-menu-item a{
    @apply pt-2 pb-4 pr-6 pl-12 rounded-tl-none rounded-bl-[100px] rounded-r-[50px] bg-drwintech-blue text-white;
}

#head header{
    @apply bg-transparent shadow-none;
}

#head header nav li a {
    @apply text-white;
}

.h-pc-care{
    height: auto;
}

@screen lg{
    .h-pc-care{
        height: calc(100vh + 50px);
    }
}

.list-fonctionnalites {
    @apply list-none inline-block;
}

.list-fonctionnalites li::before{
    content: "\2022";
    @apply text-drwintech-blue mr-6 text-2xl;
    /*font-size: 18px;*/
}

.list-offers {
    @apply list-none inline-block;
}

.list-offers li::before{
    content: "\2713";
    @apply text-green-500 mr-3 text-base;
    /*font-size: 18px;*/
}

.list-offers li{
    @apply mb-2 text-xl;
}

.shadow-fonctionnalites{
    box-shadow: 0px -2px 4px 4px rgba(0, 0, 0, 0.25);
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    @apply absolute top-[99%] left-[45%];
    border-top: 30px solid rgba(17, 78, 161, 1);
}

/*.border-top {*/
/*    @apply border-t-4 border-drwintech-blue;*/
/*    border-left: 4px solid rgba(17, 78, 161, 1);*/
/*    line-height: 160px;*/
/*}*/

.frame {
    @apply rounded-full h-full;
    border: 5px solid #114EA1;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 22px rgba(0, 0, 0, 0.05);
}


.container{
    max-width: calc(100% - 20px);
}

@screen md{
    .container{
        max-width: 620px;
    }
}

@screen lg{
    .container{
        max-width: 972px;
    }
}

@screen xl{
    .container{
        max-width: 1280px;
    }
}
